.block {
    width: 60%;
    margin: 35px auto 20px auto;
    overflow: auto;
}

.blocks {
    margin: 10px;
    overflow: auto;
}

.block1 {
    width: 56%;
}

@media screen and (max-width: 1305px) {
    .block1 {
        width: 96%;
        margin: 10px;
    }
}

select {
    padding: 12.5px 5px;
    margin: 8px;
    width: 269px;
}

option {
    font-size: 17px;
}

.input {
    font-size: 20px;
    padding: 8px;
    margin: 6px;
}

.confirm {
    background-color: rgb(62, 62, 156);
    padding: 7px 10px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border-radius: 50px;
    margin: 2px;
    outline: none;
    letter-spacing: 1px;
}